select{
    background: transparent;
    border: transparent;
    cursor: pointer;

}

select option{
    background: rgba(162, 161, 161, 0.37);
}

.nested {
    display: grid;
    background: rgba(238, 238, 238, 0.9);
    margin-right: auto;
    margin-left: auto;
    justify-items: stretch;
    align-items: stretch;
    margin-bottom: 1vh;
    max-width: 70%;
    grid-template-columns: 10% 55% 35%;
    grid-auto-rows: minmax(100px, auto);
}

.nested > div{
    margin-bottom: 1vh;
    padding:0.5em;
}

.custom-select{
    justify-content: space-between;

}

.custom-select > span{
    margin-left: 15px;
}

.com-logo{
    width: 100%!important;
}

.job-req {
    grid-template-columns: repeat(9, 1fr);
    grid-auto-columns: minmax(5px, auto);
    margin-top: 10px;
    margin-bottom: auto;
    align-items: stretch;
}

.job-req > p{
    margin: 0 1px 1px 5px;
    border-radius: 5px;
    padding: 6px;
    /*max-width: min-content;*/
    text-align: center;
    background: #cecece;
    opacity: 0.9;
    justify-content: space-between;
    float: left;
}

.offer-section{
    border-left: 3px solid #cecece;
}

.api-card{
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;

}
