.main-body-req{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: minmax(10px, auto);
}

.search-bar{
    max-width: 300px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}
