.main-body-req{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: minmax(50px, auto);
}

.search-bar{
    max-width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}
